<div class="leaderboard__section leaderboard__section--battles">
    <h2>{{_ 'Latest'}} {{ battles.length }} {{_ 'fighting results'}}</h2>
    {{#if battles}}
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            {{#each battles}}
            <tr>
                <td class="contestants">
                    {{! Challenger}}
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #f00;"></span>
                        <span class="contestant__name">Robot {{ attacker_id }}</span>
                    </p>
                    {{! Defender}}
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #00f;"></span>
                        <span class="contestant__name">Robot {{ defender_id }}</span>
                    </p>
                </td>
                <td class="results">
                    <p class="results__outcome">
                        {{_ 'Winner:'}} Robot {{ winner_id }}
                    </p>
                </td>
            </tr>
            {{/each}}
    </table>
    {{else}}
    <p>
        {{_ 'No battles available'}}
    </p>
    {{/if}}
</div>

<div class="leaderboard__section leaderboard__section--players">
    <h2>{{_ 'Top'}} {{ robots.length }} {{_ 'Robots'}}</h2>
    {{#if robots}}
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>{{_ 'Fights'}}</td>
                <td>{{_ 'Wins' }}</td>
                <td>{{_ 'Losses'}}</td>
            </tr>
        </thead>
        <tbody>
            {{#each robots}}
            <tr>
                <td>
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #f00;"></span>
                        <span class="contestant__name">{{ name }}</span>
                    </p>
                </td>
                <td>
                    10
                </td>
                <td>
                    7
                </td>
                <td>
                    3
                </td>
            </tr>
            {{/each}}
    </table>
    {{else}}
    <p>
        {{_ 'No robots available'}}
    </p>
    {{/if}}
</div>
