<div class="leaderboard__section leaderboard__section--battles">
    <h2>{{_ 'Latest'}} {{ battlesPerSection }} {{_ 'fighting results'}}</h2>
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="contestants">
                    {{! Challenger}}
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #f00;"></span>
                        <span class="contestant__name">Robot 1</span>
                    </p>
                    {{! Defender}}
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #00f;"></span>
                        <span class="contestant__name">Robot 6</span>
                    </p>
                </td>
                <td class="results">
                    <p class="results__outcome">
                        {{_ 'Winner:'}} Robot 1
                    </p>
                </td>
            </tr>
    </table>
</div>

<div class="leaderboard__section leaderboard__section--players">
    <h2>{{_ 'Top'}} {{ playersPerSection }} {{_ 'Devices'}}</h2>
    <table>
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td>{{_ 'Fights'}}</td>
                <td>{{_ 'Wins' }}</td>
                <td>{{_ 'Losses'}}</td>
            </tr>
        </thead>
        <tbody>
            {{#each players}}
            <tr>
                <td>
                    <p class="contestant">
                        <span class="contestant__color-scheme" style="background-color: #f00;"></span>
                        <span class="contestant__name">{{ name }}</span>
                    </p>
                </td>
                <td>
                    10
                </td>
                <td>
                    7
                </td>
                <td>
                    3
                </td>
            </tr>
            {{/each}}
    </table>
</div>
