<header class="header">
    <h1 class="app__name">{{ title }}</h1>
    {{#if (isLoggedIn)}}
        {{! Calls to action }}
        <nav class="ctas">
            <a data-route="robot.index" href="#" class="cta">{{_ 'My robots'}}</a>
            <a href="{{route 'fight.choose'}}" class="cta">{{_ 'Fight!'}}</a>
        </nav>
        {{! Post auth }}
        <div class="post-auth">
            <p class="post-auth__info">{{_ 'Logged in as'}} {{ name }}{{_ '.'}}</p>
            <form method="POST" action="{{route 'logout'}}">
                {{{ csrf_field }}}
                <button type="submit" class="post-auth__logout">{{_ 'Logout'}}</button>
            </form>
        </div>
    {{else}}
        {{! Pre auth }}
        <div class="pre-auth">
            <nav class="pre-auth__nav">
                <a class="nav__link" href="{{route 'register'}}">{{_ 'Register'}}</a>
                <a class="nav__link" href="{{route 'login'}}">{{_ 'Login'}}</a>
            </nav>
        </div>
    {{/if}}
</header>
